<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="TddEntities" connectionString="metadata=res://*/Entities.Entities.csdl|res://*/Entities.Entities.ssdl|res://*/Entities.Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=tdd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>